<div *ngIf="_artists.length > 0" class="artist-displayer-container">
    <ul class="tabs">
        <li *ngFor="let artist of _artists, let i = index" class="tab">
            <div class="btn" (click)="_changeTab(i)" [ngStyle]="_changeTabColor(i)">
                <span class="tab-artist-name">{{artist.name}}</span>
                <button class="remove-tab-btn btn btn-sm" (click)="_removeArtist(artist)" [ngStyle]="_getRemoveArtistButtonColor(i)">X</button>
            </div>

        </li>
    </ul>

    <div class="filter-download-section">
        <div class="filter-container">
            <span>Filter: </span>
            <input [(ngModel)]="_filter" type="text" class="form-control filter-tracks" (input)="0" />
        </div>

        <div class="download-section">
            <span class="with-lyrics">
                <span class="with-lyrics-text">With Lyrics: </span>
                <input type="checkbox" class="with-lyrics-input" [(ngModel)]="_artists[_currTab].withLyrics">
            </span>
            <button class="download-btn btn" (click)="_downloadTracks()">Download</button>
        </div>
    </div>

    <iframe *ngIf="url" width="240" height="135" [src]="url" frameborder="0" allowfullscreen></iframe>
    
    <ul class="tracks row">
        <li *ngFor="let track of _artists[_currTab].tracks | trackFilter: _filter, let i = index" 
            class="track col-2" [ngStyle]="_getTrackStyle(track)">
            <div>
                <button class="remove-track-btn btn btn-danger btn-sm" (click)="_removeTrack(track.name)">X</button>
                <span>{{track.name}}</span>
            </div>
            <img class="prev-video-btn video-btn" (click)="_prevVideo(track)" src="../../assets/prev_video.png" alt="(-">
            <img class="play-btn video-btn" (click)="_playVideo(track)" src="../../assets/play-button.jpg" alt=">">
            <img class="next-video-btn video-btn" (click)="_nextVideo(track)" src="../../assets/next_video.png" alt="-)">
        </li>
    </ul>
</div>