<div class="form-container border border-secondary">
    <div class="header-container">
        <h2>Add Song</h2>
    </div>
    <form class='form'>
        <div class="form-input">
            <label class="artist-name-label">ArtistName:</label>
            <input name="artistName" type="text" [(ngModel)]="artistName">
        </div>
        <div class="form-input">
            <label>Song Name:</label>
            <input name="trackName" [(ngModel)]="trackName" type="text">
        </div>
        <div class="button-container">
            <button class='btn' (click)="_addTrack()">Search</button>
        </div>
    </form>
</div>