.form-container {
    padding-bottom: 10px;
}

.form-input {
    display: flex;
    justify-content: space-between;
    margin: 5px 15px;
}

.header-container {
    width: 100%;
    text-align: center;
}

.form-input label {
    margin-right: 3px;
}

button {
    margin-left: 50%;
    margin-top: 3%;
    cursor: pointer;
    padding: 5px;
    border-radius: 7px;
    margin-right: 10px;
}

.button-container {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}