.forms-container {
    display: flex;
}

add-artist-form,
add-track-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: max-content;
    border: 1px solid;
    width: max-content;
    align-content: right;
    margin: 45px;
}